---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const people = await getCollection("people");
  return people.map((person) => ({
    params: { slug: person.slug },
    props: { person },
  }));
}

const { person } = Astro.props;
const { Content } = await person.render();
---

<Layout title="This is the bio page">
  <div>
    <img
      class="rounded-full w-80 h-80 object-cover mb-3"
      src={person.data.picture}
      alt={`Picture of ${person.data.name}`}
    />
  </div>
  <h1>{person.data.name}</h1>
  <Content />
</Layout>
