---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jack Dorsey">
  <section class="flex gap-12">
    <div>
      <img
        transition:name=""
        src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1146354927.jpg?crop=0.9960159362549801xw:1xh;center,top&resize=1200:*"
        alt=""
      />
    </div>
    <div>
      <div class="mb-14">
        <p>Name: Jack Dorsey</p>
        <p>Location: San Francisco</p>
        <p>Company: Block (Formerly Square)</p>
      </div>

      <h2 class="text-2xl font-bold mb-4">Biography</h2>
      <p class="leading-loose">
        Jack Patrick Dorsey is an American Internet entrepreneur,
        philanthropist, and programmer who is a co-founder and former CEO of
        Twitter, Inc., as well as co-founder, principal executive officer and
        chairperson of Block, Inc., which is the developer of the Square
        financial services platform.
      </p>
    </div>
  </section>
</Layout>
