---
name: "Mark Zuckerberg";
location: "Menlo Park";
company: "Meta";
picture: "https://people.com/thmb/aA--KsaFpaBaiFtbt3Nw4ZeKk24=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(999x0:1001x2)/mark-zuckerberg-1-2000-1123e66859e94403b843e5ae6ed368fd.jpg";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Mark Zuck">
  <section class="grid grid-cols-2">
    <div class="">
      <img
        class="rounded-full w-80 h-80 object-cover"
        transition:name="zuck-pfp"
        src="https://people.com/thmb/aA--KsaFpaBaiFtbt3Nw4ZeKk24=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(999x0:1001x2)/mark-zuckerberg-1-2000-1123e66859e94403b843e5ae6ed368fd.jpg"
        alt=""
      />
    </div>
    <div>
      <div class="mb-14">
        <p>Name: Mark Zuckerberg</p>
        <p>Location: Menlo Park</p>
        <p>Company: Meta</p>
      </div>

      <h2 class="text-2xl font-bold mb-4">Biography</h2>
      <p class="leading-loose">
        Bio Mark Elliot Zuckerberg is an American business magnate, computer
        programmer, internet entrepreneur, and philanthropist. He co-founded the
        social media website Facebook and its parent company Meta Platforms, of
        which he is executive chairman, chief executive officer, and controlling
        shareholder.
      </p>
    </div>
  </section>
</Layout>
